[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
requests = "*"
pandas = "*"
sqlalchemy = "*"
openpyxl = "*"
datadotworld = "*"
kaggle = "*"
helpers = "*"
wordcloud = "*"
nltk = "*"
seaborn = "*"
tensorflow = "*"
keras = "*"
pandoc = "*"
nbconvert = "*"

[dev-packages]

[requires]
python_version = "3.9"
